body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}
.about-banner {
    background-color: #333;
    text-align: center;
    padding: 40px 0;
    border-bottom: 3px solid #ffcc00;
}

.about-banner h1 {
    color: #ffcc00;
    font-size: 40px;
    font-weight: bold;
}

.about-banner  a {
    color: white;
    text-decoration: none;
    font-size:24px;
}
.about-banner p {
    color: white;
    text-decoration: none;
    font-size:24px;
}

/* Booking Table */
.booking-table-container {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #111;
    border: 2px solid #ffcc00;
}

.booking-table th, .booking-table td {
    border: 1px solid #e6b800;
    padding: 12px;
    color: #fff;
}

.booking-table th {
    background-color: #ffcc00;
    color: #000;
    font-size: 18px;
}

/* Status Colors */
.status-pending {
    color: #ffcc00;
    font-weight: bold;
}
.status-confirmed {
    color: #00ff00;
    font-weight: bold;
}
.status-cancelled {
    color: #ff4d4d;
    font-weight: bold;
}
.status-onride {
    color: #0099ff;
    font-weight: bold;
}
.status-completed {
    color: #e6b800;
    font-weight: bold;
}