<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">


<!-- Customer_Part -->
<servlet>
<servlet-name>addCustomer</servlet-name>
<servlet-class>servlet.addCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addCustomer</servlet-name>
<url-pattern>/addcus</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>login</servlet-name>
<servlet-class>servlet.login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>login</servlet-name>
<url-pattern>/cuslog</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateCustomer</servlet-name>
<servlet-class>servlet.updateCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateCustomer</servlet-name>
<url-pattern>/cusupdt</url-pattern>
</servlet-mapping>






<!-- Admin_Part -->

<servlet>
<servlet-name>manageCustomer</servlet-name>
<servlet-class>servlet.manageCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>manageCustomer</servlet-name>
<url-pattern>/cusmanage</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>deleteCustomer</servlet-name>
<servlet-class>servlet.deleteCustomer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteCustomer</servlet-name>
<url-pattern>/cusdel</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>addDriver</servlet-name>
<servlet-class>servlet.addDriver</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addDriver</servlet-name>
<url-pattern>/driadd</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>manageDriver</servlet-name>
<servlet-class>servlet.manageDriver</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>manageDriver</servlet-name>
<url-pattern>/drimanage</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateDriver</servlet-name>
<servlet-class>servlet.updateDriver</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateDriver</servlet-name>
<url-pattern>/driupdate</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>deleteDriver</servlet-name>
<servlet-class>servlet.deleteDriver</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteDriver</servlet-name>
<url-pattern>/dridelete</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>addVehical</servlet-name>
<servlet-class>servlet.addVehical</servlet-class>
<multipart-config>
        <max-file-size>10485760</max-file-size> <!-- 10MB -->
        <max-request-size>20971520</max-request-size> <!-- 20MB -->
        <file-size-threshold>1048576</file-size-threshold> <!-- 1MB -->
</multipart-config>
</servlet>

<servlet-mapping>
<servlet-name>addVehical</servlet-name>
<url-pattern>/addveh</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>manageVehicals</servlet-name>
<servlet-class>servlet.manageVehicals</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>manageVehicals</servlet-name>
<url-pattern>/mangveh</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>deleteVehicals</servlet-name>
<servlet-class>servlet.deleteVehicals</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteVehicals</servlet-name>
<url-pattern>/delveh</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateVehical</servlet-name>
<servlet-class>servlet.updateVehical</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateVehical</servlet-name>
<url-pattern>/updveh</url-pattern>
</servlet-mapping>






<!-- Admin and Driver Login -->
<servlet>
<servlet-name>adminlogin</servlet-name>
<servlet-class>servlet.adminlogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminlogin</servlet-name>
<url-pattern>/admlog</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>driverlogin</servlet-name>
<servlet-class>servlet.driverlogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>driverlogin</servlet-name>
<url-pattern>/logdriver</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>customerDisplayvehical</servlet-name>
<servlet-class>servlet.customerDisplayvehical</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>customerDisplayvehical</servlet-name>
<url-pattern>/cusdisplv</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>bookVehicle</servlet-name>
<servlet-class>servlet.bookVehicle</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>bookVehicle</servlet-name>
<url-pattern>/bookveh</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>adminBooking</servlet-name>
<servlet-class>servlet.adminBooking</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminBooking</servlet-name>
<url-pattern>/admibook</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>driverBooking</servlet-name>
<servlet-class>servlet.driverBooking</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>driverBooking</servlet-name>
<url-pattern>/drvbook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>updateBooking</servlet-name>
<servlet-class>servlet.updateBooking</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateBooking</servlet-name>
<url-pattern>/updbook</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updatedriverProfile</servlet-name>
<servlet-class>servlet.updatedriverProfile</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updatedriverProfile</servlet-name>
<url-pattern>/upddripro</url-pattern>
</servlet-mapping>


</web-app>




